@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    width: 100%;
}

/*Barra de Navegação - Parte de cima do Ingressa*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid #F85F1C;
    padding-right: 150px;
    padding-left: 94px;
}

.nav-ingressa nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    gap: 90px;
}

.nav-ingressa nav ul li a {
    color: black;
    text-decoration: none;
}

.logo-ingressa img {
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F85F1C;
    border-radius: 20px;
    padding: 5px;
    width: 43.125rem;
    height: 3.75rem;
}

.search-bar i {
    margin-right: 0.20rem;
    margin-left: 0.80rem;
    font-size: 14px;
    color: #F85F1C;
}

input[type="search"] {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 350;
    width: 100%;
    padding: 12px;
    max-width: 100%;
}

.profile-icon a {
    text-decoration: none;
    color: #F85F1C;
    font-size: 35px;
}

/*TITULO E DESCRIÇÃO*/
.cards-tittle-description {
    padding-top: 65px;
    margin-left: 136px;
    margin-right: 120px;
    padding-bottom: 40px;
}

.tittle-inicio {
    color: #F85F1C;
}

.text-inicio {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}

/*FIM DO TITULO E DESCRIÇÃO*/

/*CARRINHO*/
.carrinho-compra {
    display: flex;
    justify-content: space-between;
    gap: 18rem;
}

/*INICIO DA TABELA*/
.ingresso-informacoes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 136px;
    gap: 15px;
}

.ingresso-linha {
    display: flex;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(250, 250, 250);
    width: 800px;
    align-items: center;
    gap: 55px;
}

.ingresso-informacoes img {
    max-height: 160px;
}

.info-evento {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.info-evento strong {
    font-size: 1.1rem;
}

.info-evento p {
    font-size: 1rem;
}
/*FIM DA TABELA*/



/*CARD DE PAGAMENTO NA DIREITA*/
.pagamento-ingresso {
    height: 340px;
    margin-right: 150px;
    background-color: rgb(250, 250, 250);
    border-radius: 18px;
    padding: 1.3rem;
    border: 1px solid #F85F1C;
    text-align: center;
}

.tittle-icone {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.tittle-icone i {
    font-size: 30px;
    color: #F85F1C;
}

.title-carrinho {
    font-size: 1.40rem;
    color: black;
}

.options-valores {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 5px;
}

.list-option {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.list-option strong {
    color: #F85F1C;
}

.option-valores2 {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    margin-top: 20px;
    border-top: 2px solid black;
    padding-top: 20px;
    gap: 40px;
}

button[type="submit"] {
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: #F85F1C;
    border-radius: 10px;
    color: white;
    width: 320px;
    height: 45px;
}